# Imports

In [1]:
import pandas as pd
import numpy as np
import scipy.stats as st
import sys
sys.path.append("..")
from pd2ltx import pd2ltx

# Make example tables

In [2]:
df_size = 5

## Symmetrical errors

In [3]:
df_sym = (pd.DataFrame()
                .assign(target = [f'Star {i}' for i in range(df_size)])
                .assign(val1 = st.loguniform.rvs(0.01, 100, size=df_size))
                .assign(val1_err = st.loguniform.rvs(0.0001, 1, size=df_size))
                .assign(val2 = st.loguniform.rvs(1, 10000, size=df_size))
                .assign(val2_err = st.loguniform.rvs(0.01, 100, size=df_size))
)
df_sym

   target      val1  val1_err         val2  val2_err
0  Star 0  0.110329  0.016765    12.363429  0.020624
1  Star 1  0.268676  0.001107   495.325137  0.232137
2  Star 2  0.187300  0.013023  5021.789709  0.130045
3  Star 3  0.230330  0.000140   252.680435  0.109963
4  Star 4  0.111915  0.000120  1515.780789  5.485191

In [4]:
table1 = pd2ltx(df_sym, error='symmetrical', error_suffix='_err', error_significant_figures=2)

print(table1)

\begin{tabular}{lcc}
{target} & {val1} & {val2} \\
Star 0 & $0.110\pm0.017$ & $12.363\pm0.021$ \\
Star 1 & $0.2687\pm0.0011$ & $495.33\pm0.23$ \\
Star 2 & $0.187\pm0.013$ & $5021.79\pm0.13$ \\
Star 3 & $0.23033\pm0.00014$ & $252.68\pm0.11$ \\
Star 4 & $0.11191\pm0.00012$ & $1515.8\pm5.5$ \\
\end{tabular}

## Asymmetrical errors

In [5]:
df_asym = (pd.DataFrame()
                .assign(target = [f'Star {i}' for i in range(df_size)])
                .assign(val1 = st.loguniform.rvs(0.01, 100, size=df_size))
                .assign(val1_errup = st.loguniform.rvs(0.001, 0.1, size=df_size))
                .assign(val1_errlo = st.loguniform.rvs(0.001, 0.1, size=df_size))
                .assign(val2 = st.loguniform.rvs(1, 10000, size=df_size))
                .assign(val2_errlo = st.loguniform.rvs(0.01, 1, size=df_size))
                .assign(val2_errup = st.loguniform.rvs(0.01, 1, size=df_size))
)
df_asym

,target,val1,val1_errup,val1_errlo,val2,val2_errlo,val2_errup
0,Star 0,3.969028,0.036542,0.007346,25.397702,0.247566,0.034894
1,Star 1,0.116276,0.003254,0.006189,52.614493,0.092198,0.019286
2,Star 2,0.024077,0.024016,0.021070,909.311928,0.026851,0.794814
3,Star 3,1.677212,0.010191,0.032754,4.984025,0.305274,0.042206
4,Star 4,0.067346,0.003459,0.009440,1835.295660,0.186732,0.141130

In [6]:
table2 = pd2ltx(df_asym, 
                error='asymmetrical', 
                error_suffix=['_errup', '_errlo'], 
                error_significant_figures=2)
print(table2)

\begin{tabular}{lcc}
{target} & {val1} & {val2} \\
Star 0 & $3.9690^{+0.0365}_{-0.0073}$ & $25.398^{+0.035}_{-0.248}$ \\
Star 1 & $0.1163^{+0.0033}_{-0.0062}$ & $52.614^{+0.019}_{-0.092}$ \\
Star 2 & $0.024^{+0.024}_{-0.021}$ & $909.312^{+0.795}_{-0.027}$ \\
Star 3 & $1.677^{+0.010}_{-0.033}$ & $4.984^{+0.042}_{-0.305}$ \\
Star 4 & $0.0673^{+0.0035}_{-0.0094}$ & $1835.30^{+0.14}_{-0.19}$ \\
\end{tabular}

### It also works even if the error columns are in different order

In [7]:
df_asym2 = (pd.DataFrame()
                .assign(val2_errlo = st.loguniform.rvs(0.01, 1, size=df_size))
                .assign(target = [f'Star {i}' for i in range(df_size)])
                .assign(val1_errlo = st.loguniform.rvs(0.001, 0.1, size=df_size))
                .assign(val1 = st.loguniform.rvs(0.01, 100, size=df_size))
                .assign(val1_errup = st.loguniform.rvs(0.001, 0.1, size=df_size))
                .assign(val2_errup = st.loguniform.rvs(0.01, 1, size=df_size))
                .assign(val2 = st.loguniform.rvs(1, 10000, size=df_size))
)
df_asym2

,val2_errlo,target,val1_errlo,val1,val1_errup,val2_errup,val2
0,0.331278,Star 0,0.001111,0.163051,0.001769,0.814721,4018.317288
1,0.013138,Star 1,0.003321,0.029952,0.013392,0.634666,1896.273160
2,0.742231,Star 2,0.030580,16.001661,0.002981,0.087243,3.869457
3,0.652198,Star 3,0.010317,22.624135,0.003506,0.038080,1116.429470
4,0.164201,Star 4,0.088977,5.741738,0.007664,0.021124,4608.322260

In [8]:
table3 = pd2ltx(df_asym2, 
                error='asymmetrical', 
                error_suffix=['_errup', '_errlo'], 
                error_significant_figures=2, 
                caption='My Table' # Example of adding a caption
                )

print(table3)

\begin{table}
\caption{My Table}
\begin{tabular}{lcc}
{target} & {val1} & {val2} \\
Star 0 & $0.1631^{+0.0018}_{-0.0011}$ & $4018.32^{+0.81}_{-0.33}$ \\
Star 1 & $0.0300^{+0.0134}_{-0.0033}$ & $1896.273^{+0.635}_{-0.013}$ \\
Star 2 & $16.0017^{+0.0030}_{-0.0306}$ & $3.869^{+0.087}_{-0.742}$ \\
Star 3 & $22.6241^{+0.0035}_{-0.0103}$ & $1116.429^{+0.038}_{-0.652}$ \\
Star 4 & $5.7417^{+0.0077}_{-0.0890}$ & $4608.322^{+0.021}_{-0.164}$ \\
\end{tabular}
\end{table}